.jspsych-html-button-response-prompt {
    text-align: center;
    margin-top: 1rem;
  }

body {
  background: #ffffff !important;
  color: #222222 !important;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.jspsych-content-wrapper {
  background: #ffffff !important;
  border: none !important;
  box-shadow: none !important;
  margin: 2rem auto;
  max-width: 800px;
  padding: 1rem;
  text-align: left;
}